html {
	background-color: white;
}

body.login {
	background-color: white;
}

.login h1 a {
	width: 326px;
}

.login h1 {
	margin:-50px 0 0 0;
}

.login h5 {
	width:600px;
	font-size:18px;
	font-weight:bold;
	padding:0;
	margin:20px 0 20px -135px;
	text-align: center;
	color: rgb(204, 0, 0);
}

.login h6 {
	width:600px;
	font-size:16px;
	font-weight:normal;
	padding:0;
	margin:0 0 10px -135px;
	text-align: justify;
}